image: docker:stable

services:
  - docker:dind

stages:
  - build
  - terraform

variables:
  DOCKER_TLS_CERTDIR: ""

before_script:
  - apk add --no-cache python3 py3-pip bash curl unzip
  - pip install awscli
  - curl -fsSL https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip -o terraform.zip
  - unzip terraform.zip && mv terraform /usr/local/bin/ && rm terraform.zip

build_image:
  stage: build
  script:
    - cd website
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" $DOCKER_REGISTRY
    - docker build -t $DOCKER_REGISTRY/terraform-website:latest .
    - docker push $DOCKER_REGISTRY/terraform-website:latest
  artifacts:
    expire_in: 1 hr
  when: manual

terraform_apply:
  stage: terraform
  script:
    - cd terraform
    - terraform init
    - terraform plan -out=tfplan -var="image_url=$DOCKER_REGISTRY/terraform-website:latest"
    - terraform apply -auto-approve tfplan
  when: manual
